dicom2nifti==2.4.11
dynamic-network-architectures==0.3.1
fft-conv-pytorch==1.2.0
fonttools==4.53.1
future==1.0.0
hiddenlayer==0.2
imageio==2.35.1
joblib==1.4.2
kiwisolver==1.4.5
lazy-loader==0.4
linecache2==1.0.0
lxml==5.3.0
matplotlib==3.9.2
nibabel==5.2.1
nilearn==0.11.0
nnunetv2==2.5.1
pandas==2.2.2
pydicom==2.4.4
pyparsing==3.1.4
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.1
seaborn==0.13.2
simpleitk==2.4.0
torchaudio==2.4.0
torchvision==0.19.0
tqdm==4.66.5
traceback2==1.4.0
tzdata==2024.1
